<div class="parallax">
    <div class="insideHero text-light">
        <p class="display-2 googlefont">{{heroTitle}}</p>
        <br>
        <p class="display-5">{{heroText}}</p>
        <br>
        <p><a class="btn btn-lg btn btn-success me-3 btn-outline-light mt-5" routerLink="/menu" role="button">{{heroBtnText}}</a> <a class="btn btn-lg btn btn-success btn-outline-light mt-5" routerLink="/about" role="button">{{heroBtn2Text}}</a></p>

    </div>
</div>

<p class="text-center display-1 googlefont pt-5">
    Something about us</p>
<div class="row m-5">
    <div class="col-lg-3 col-md-6 col-sm-12 col pt-5">

        <h5>Location is accessible</h5>
        <p>At the very exit from the city by the lake, we are accessible by public transport, walking and bike path and car.
        </p>
        <h5>Atmosphere is beautifull</h5>
        <p>At the very exit from the city by the lake, we are accessible by public transport, walking and bike path and car.
        </p>
        <h5>Food and Wine Pairings</h5>
        <p> In our menu you can find all the famous Italian dishes, while every week the specialty of the house changes. The wine list consists of highly-priced bottles of six wines from France and Italy
        </p>

    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 pt-5">

        <p>At our restaurant you live a unique experience with two Michelin stars. With rigor and scruple, chef Marco Sacco in about twenty years has been able to radically transform the cuisine of his restaurant into something very close to research concepts.
            Five menus are proposed: from “Curious but … not too much” to “Very innovative: 10 dishes ahead …”, as well as the traditional,” or “10 dishes back: taste the history”, up to the last “In the kitchen with Marco, “an intriguing option with
            the Chef (you know when you start but not when you finish eating). In the kitchen, the talented chef reads the dishes of this territory in a contemporary key, elaborating them with imagination and class. Near Lake Maggiore, the peaceful Lake
            Mergozzo offers itself to the restaurant tables like a romantic postcard. In fact, some of the tables are located close to the lake. The restaurant has an elegant summer terrace that creates continuity with the interiors for alfresco dining
            immersed in the typical summer atmospheres of Lake Mergozzo. The service is impeccable.


        </p>

    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 pt-5">
        <h5>Food and Wine Pairings</h5>
        <p> In our menu you can find all the famous Italian dishes, while every week the specialty of the house changes. The wine list consists of highly-priced bottles of six wines from France and Italy
        </p>
        <h5>You have a private chef</h5>
        <p> In our menu you can find all the famous Italian dishes, while every week the specialty of the house changes. The wine list consists of highly-priced bottles of six wines from France and Italy
        </p>
        <h5>You can change your order</h5>
        <p> In our menu you can find all the famous Italian dishes, while every week the specialty of the house changes. The wine list consists of highly-priced bottles of six wines from France and Italy
        </p>


    </div>
</div>