<div class="parallax">
    <div class="insideHero text-light">
        <p class="display-2 googlefont">{{heroTitle}}</p>
        <br>
        <p class="display-5">{{heroText}}</p>
        <br>
        <p><a class="btn btn-lg btn btn-success me-3 btn-outline-light mt-5" routerLink="/menu" role="button">{{heroBtnText}}</a> <a class="btn btn-lg btn btn-success btn-outline-light mt-5" routerLink="/about" role="button">{{heroBtn2Text}}</a></p>

    </div>
</div>

<div class="container">
    <p class="text-center display-1 googlefont pt-5">Ristorante Il Gambero Rosso</p>
    <div class="row mb-5 g-5">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <img src="assets/home-img.jpg" class="w-100 img-responsive rounded ms-4 me-4" />

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 pt-5">

            <h5>AN ECLECTIC EXPERIENCE FOR YOUR SENSES</h5>
            <p>Get ready to "sale" into summer at Eataly! From May 23 - June 19, take up to 30% off 250+ artisan-made specialties, regional wines, pastured meats and more! Whether you're stocking up on your favorites or sampling something new, kick the season
                off right with the best local ingredients and regional Italian essentials.
            </p>
            <ul>
                <li>Breakfast</li>
                <li>Lunch</li>
                <li>Super</li>
                <li>Dinner</li>
            </ul>
            <p>What would an Italian summer be without a refreshing glass of wine in hand? Explore our vast collection and save 20% or more on select rosé, sparkling, crisp whites, and luscious reds.
            </p>
        </div>
    </div>
</div>

<div class="pozadina">
    <p class="text-center display-1 googlefont pt-5">
        Why choose us</p>
    <div class="row mb-5">
        <div class="col-lg-4 col-md-6 col-sm-12 p-5">
            <i class="bi bi-geo-alt" style="font-size: 30px;"></i>
            <h5>Are location is the best</h5>
            <p>At the very exit from the city by the lake, we are accessible by public transport, walking and bike path and car.
            </p>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-5">
            <i class="bi bi-person-hearts" style="font-size: 30px;"></i>
            <h5>Ambience</h5>
            <p>Lake view, warm breeze, light music in the background, special tables for lovers, as well as families with children next to the playground
            </p>

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 p-5">
            <i class="bi bi-cart" style="font-size: 30px;"></i>
            <h5>Food and Wine Pairings</h5>
            <p> In our menu you can find all the famous Italian dishes, while every week the specialty of the house changes. The wine list consists of highly-priced bottles of six wines from France and Italy
            </p>

        </div>
    </div>
</div>

<div class="container w-75">
    <div class="text-center pb-4">
        <p class="googlefont pt-5 display-1">Check our specials</p>
        <p>An extremely tasty sizzling paprika beef with peppers and broccoli stir-fry supper that contains two of your five a day.</p>
    </div>
    <div class="row pb-5">
        <div class="col col-3 text-center align-self-center rounded">
            <button class="btn btn-primary">Preparation</button>

            <p class="text-primary p-1">Ingredients</p>
            <p class="text-primary p-1">Nutrition</p>
            <p class="text-primary p-1">Alergies</p>
            <p class="text-primary p-1">Method</p>
        </div>
        <div class="col col-6">
            <h3>Sizzling paprika beef with peppers and broccoli</h3>
            <p>Put the steak in a bowl and toss well with the kecap manis. Set aside for 15 minutes while you prepare the other ingredients.
            </p>
            <p>Put the steak in a bowl and toss well with the kecap manis. Set aside for 15 minutes while you prepare the other ingredients. Bring a medium pan of water to the boil, add the broccoli and cook for a few minutes until just tender. Drain and
                arrange the broccoli in a serving dish. Place a heavy-based frying pan or wok over a high heat, add the oil and heat until smoking. Swiftly add the onion and peppers and toss in the pan for just a few minutes until they are beginning to
                soften.
            </p>
        </div>
        <div class="col col-3"><img class="dimens" src="../../assets/spec.jpg" alt="special"></div>
    </div>
</div>