<div class="bg-dark text-center text-light pt-5">
    <!-- Grid container -->
    <div class="footlightblue">
        <!-- Section: Social media -->
        <section class="p-3 pb-5">
            <!-- Facebook -->
            <a href="https://www.facebook.com"><i class="fa fa-facebook-square me-4" style="font-size:25px;color:white"></i></a>

            <!-- Twitter -->
            <a href="https://www.twitter.com"><i class="fa fa-twitter me-4" style="font-size:25px;color:white"></i></a>

            <!-- Google -->
            <a href="https://www.google.com"><i class="fa fa-google me-4" style="font-size:25px;color:white"></i></a>

            <!-- Instagram -->
            <a href="https://www.instagram.com"><i class="fa fa-instagram me-4" style="font-size:25px;color:white"></i></a>

            <!-- Linkedin -->
            <a href="https://www.linkedin.com"><i class="fa fa-linkedin me-4" style="font-size:25px;color:white"></i></a>

            <!-- Github -->
            <a href="https://www.github.com"><i class="fa fa-github me-4" style="font-size:25px;color:white"></i></a>
        </section>
        <!-- Section: Social media -->

    </div>
    <!-- Copyright -->

    <div class="text-center p-3" id="footdarkblue">
        <p class="m-0 pb-2">&copy; Copyright 2022 Sanja Kostantinovic</p>
    </div>
</div>