<div class="parallax">
    <div class="insideHero text-light">
        <p class="display-2 googlefont">{{heroTitle}}</p>
        <br>

        <p><a class="btn btn-lg btn btn-success me-3 btn-outline-light mt-5" routerLink="/menu" role="button">{{heroBtnText}}</a> <a class="btn btn-lg btn btn-success btn-outline-light mt-5" routerLink="/about" role="button">{{heroBtn2Text}}</a></p>

    </div>
</div>
<div class="allcards">
    <div class="container pb-5 mb-5">
        <h3 class="stage pt-3 pb-3"></h3>
        <div class="row g-2">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center hov">Ristorante Il Gambero Rosso</h5>
                        <p class="card-text text-center">Via Santi Fabiano E Sebastiano 13 <br> 35143 Padua<br> Italy</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title hov text-center">Contact</h5>
                        <p class="card-text text-center">gambero@ristorante.at
                            <br> +39 049 623874 </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="assets/loc.png" alt="loc">
                </div>
            </div>

        </div>
    </div>
</div>